@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Corey's Knick Knacks!'</h1>
    <p>Kick off the month with these new knicks and knacks at Corey's Knick Knacks!</p>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/bootstrap-input-spinner.js"></script>
<script>
    $("input[type='number']").inputSpinner();

    $(".num-spinner").on("change", function (event) {
        ClickPlus(event.target.id.substring(8), event.target.value);
        return false;
    });

    function ClickPlus(productId, quantity) {
        //console.log(productId + " item was clicked. The quantity is: " + quantity);
        $.get(
            {
                url: window.location.href + "/Add/" + productId + "?" + "quantity=" + quantity,
                success: function (result) {
                    $("#CheckoutBtn").text("Check Out - " + result);
                }
            });
    }
</script>
