@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This site is provided as is and makes no promises as far as security or personal information. This site is intended for 
    purely educational purposes.
</p>
